<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stil.css') }}">
</head>
<body>
<main>

    <p>Hello {{ username }}</p>

    {% for key, value in data.items() if key != "username" %}
        <div style="margin-bottom: 15px; border:1px solid #ccc; padding:10px; width:300px;">

            <p><strong>{{ key }}</strong>: {{ value }}</p>

            <form method="POST" action="{{ url_for('update_budget') }}">
                <input type="hidden" name="category" value="{{ key }}">

                <input type="number" step="1" name="amount" placeholder="Suma">

                <button type="submit" name="action" value="add">+</button>
                <button type="submit" name="action" value="subtract">-</button>
            </form>

        </div>
    {% endfor %}

</main>
</body>
</html>